<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Successfull</title>
</head>
<body style="background-image: url('https://i.ibb.co/Ctn0RD8/7080236-3551904.jpg'); background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;">
    {%csrf_token%}
    <img src="https://i.ibb.co/wQW4HQD/download-removebg-preview.png" style="margin-left:auto; margin-right: auto; width: 300px; height: 300px; object-fit: cover; display: block;">

    <h1 style="text-align: center; color: white">Booking Successfull</h1>
    <a href="{% url 'home' %}"><button style="margin-left: auto; margin-right: auto; display: block;">Back To Home Page</button></a>
    
</body>
</html>