<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theatre List</title>
</head>
<body style="background-image: url('https://i.ibb.co/Ctn0RD8/7080236-3551904.jpg'); background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;color: white;text-align: center;">
    <h1>LIST OF THEATRES REGISTERED</h1>
    {% if t|length == 0 %}
    <h2>No Theatre Registered</h2>
    {% endif %}
    <ol style="text-align: center;list-style-position: inside;font-size: 200%;">
    {% for i in t%}
    <li>{{i.name}}</li>
    {% endfor %}
    </ol>
</body>
</html>