<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <style>
        .container{
            border-style: solid;
            float: left;
            width: 30%;
            margin: 10px;
            border-radius: 6%;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Tickets</h1>
    {% for i in ticket %}
    <div class="container"> 
        <h2 style="text-align: center;text-transform: capitalize;">{{i.name_of_customer}}</h2>
        <table align="center" cellpadding="10px" cellspacing="10px" style="font-size:larger; " >
            <tr>
                <th>Movie Name :</th> <td>{{i.shows.movies.name}}</td>
            </tr>
            <tr>
                <th>Theatre Name :</th> <td>{{i.shows.theatre.name}}</td>
            </tr>
            <tr>
                <th>Theatre Location :</th> <td>{{i.shows.theatre.location}}</td>
            </tr>
            <tr>
                <th>Screen Name :</th> <td style="text-transform: capitalize;">{{i.shows.screen.name}}</td>
            </tr>
            <tr>
                <th>Show Date :</th> <td>{{i.shows.show_date}}</td>
            </tr>
            <tr>
                <th>Show Time :</th> <td>{{i.shows.show_time}}</td>
            </tr>
                </table>
    </div>
    {% endfor %}
</body>
</html>